{% extends "index.html" %}
{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Определение приоритетов критериев</h2>
    <div class="card">
        <div class="card-body">
            <form method="POST">
                {{ form.hidden_tag() }}
                
                <div class="row">
                    {% for field in form if field.type == 'RadioField' %}
                    <div class="col-md-6 mb-4">
                        <div class="card">
                            <div class="card-header bg-light">
                                <h5>{{ field.label }}</h5>
                            </div>
                            <div class="card-body">
                                {% for subfield in field %}
                                <div class="form-check">
                                    {{ subfield(class="form-check-input") }}
                                    {{ subfield.label(class="form-check-label") }}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
                <div class="text-center mt-4">
                    {{ form.submit(class="btn btn-primary btn-lg") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}